.header {
  box-sizing: border-box;
  padding: 0 27px 26px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.3);
  max-width: 880px;
  /*flex: 0 0 auto;*/
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 0 0 33px;
  }
}
